body {
  background-color: #000000;
  color: #8CFF98;
  font-family: sans-serif;
  font-size: 16px;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.form-group h2 {
  text-align: center;
  margin-bottom: 28px;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
}

.form-group select {
  width: 100%;
  max-width: 400px;
  margin-bottom: 10px;
}

.btn {
  background-color: #8CFF98;
  color: #FFFDED;
  border: none;
  padding: 12px 24px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px auto 0;
  font-size: 20px;
}

.btn-primary {
  background-color: #8CFF98;
  color: #000000;
}

.form-group button.btn {
  display: block;
  margin: 20px auto 0;
}

/* style.css */
.fade-in {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.fade-in.show {
  opacity: 1;
}
