{% extends 'base.html' %}

{% block content %}
  <div class="form-group">
    <h2>Toner: Escolha uma opção</h2>
    <form method="post">
      {% csrf_token %}
      <div>
        <button type="submit" name="action" value="retirar">Retirar</button>
        <button type="submit" name="action" value="devolver">Devolver</button>
      </div>
      {% if options %}
      <div class="form-group">
        <label for="toner">Selecione um toner:</label>
        <select name="toner" id="toner">
          {% for option in options %}
            <option value="{{ option }}">{{ option }}</option>
          {% endfor %}
        </select>
        <button type="submit" class="btn">Confirmar</button>
      </div>
      {% endif %}
    </form>
    <script>
      $(document).ready(function() {
        $('form').submit(function() {
          var action = $('button[type="submit"]:focus').val();
          if (action == 'retirar') {
            alert('Você clicou em Retirar!');
          } else if (action == 'devolver') {
            alert('Você clicou em Devolver!');
          }
        });
      });
      </script>
      
  </div>
{% endblock %}
