{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/toner_list.css' %}">
</head>

<body class="fade-in">
  <a href="{% url 'home' %}" class="back-button">⮜</a>
  <table>
    <thead>
      <tr>
        <th>Modelo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="dropdown">
            <button class="dropdown-btn">Escolha o Toner</button>
            <div class="dropdown-content">
              {% for toner in toners %}
                <a href="#" class="toner-option" data-id="{{ toner.id }}">{{ toner.model }}</a>
              {% endfor %}
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div id="confirmation-message"></div>

  <script src="{% static 'js/toner_list.js' %}"></script>
  <script src="{% static 'js/jquery-ui.min.js' %}"></script>
  
</body>
</html>
